body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../img/pngtree-image-of-a-rural-fence-and-farm-near-the-countryside-image_2942166.webp'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: #3EB072;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #02A651;
}

.toggle-text {
    margin-top: 10px;
    color: #02A651;
    cursor: pointer;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle i {
    font-size: 1rem;
}

.password-visible i.fa-eye-slash {
    display: none;
}
