.circle:not(.circle-nav){
    width: 85px;
    margin-left: 220px;
}

.fund{
    margin: -10px;
    padding: 40px;
}
.row{
    padding-left: 30px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
